<h3>Developers</h3>

<p>There's a single endpoint API that provides search results as JSON. Example query:</p>

<pre>
  curl -H 'Accept: application/json' <%= url('/search?q=12-83') %> | python -m json.tool
</pre>

<p>Example response:</p>

<pre>
{
    "results": [
        {
            "citation": "Order of Media Bureau",
            "date_received": "2014-12-19T00:00:00.000Z",
            "docket_number": "12-83",
            "fcc_id": "60001005975",
            "fcc_url": "http://apps.fcc.gov/ecfs/comment/view?id=60001005975",
            "id": 90,
            "name_of_filer": "Media Bureau",
            "type_of_filing": "ORDER"
        },
        {
            "citation": "CBS Corporation Ex Parte Letter",
            "date_received": "2014-11-19T00:00:00.000Z",
            "docket_number": "12-83",
            "fcc_id": "60000983582",
            "fcc_url": "http://apps.fcc.gov/ecfs/comment/view?id=60000983582",
            "id": 88,
            "name_of_filer": "CBS Corporation",
            "type_of_filing": "NOTICE OF EXPARTE"
        }
    ]
}
</pre>

<br />

<p>Please <a href="https://github.com/adelevie/ezfs/issues">reach out</a> if there's anything else you'd like to see here.</p>