

<h3>How to use:</h3>

<p>Each FCC docket has its own search page.</p> 

<p>For example, docket 12-80 has its own page <a href="/12-80">here</a>.</p>

<p>Once there, search by the name of the filer and the type of filing. Examples:</p>

<ul>
  <li>Comments of Public Knowledge</li>
  <li>Notice of Exparte of Comcast</li>
  <li>Aereo Letter</li>
</ul>

<p>If there's only one result returned, you'll be redirected right to the filing on ECFS.</p>

<h3>Available dockets:</h3>

<ul>
  <% dockets.each do |docket| %>
    <li><a href="/<%= docket %>"><%= docket %></a></li>
  <% end %>
  <li><a href="/all">List of all available dockets</a></li>
</ul>

