<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->

<head>
	<title>ecfs.link <%= if @title; "| #{@title}"; end %></title>

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta charset="UTF-8" />

	<link rel="stylesheet" type="text/css" href="/css/all.css">
</head>

<body>
	<!--[if lt IE 7]>
		<p class="chromeframe" style="background:#eee; padding:10px; width:100%">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
	<![endif]-->

		<div id="ezfs-centered-content">
		  <h1><a href="/">ecfs.link</a></h1>
      <hr />
      
      <form method="GET" action="/search">
        <div class="flakes-search">
        	<input 
            class="search-box" 
            placeholder="e.g. <%= example_query || 'comments of public knowledge' %>" 
            autofocus 
            name="q"
            <%= if query; "value='#{query}'"; end %>
          />
        </div>
        <br />
        <button class="button-darkblue">Search</button>
      </form>
      
      <br /><br /><br /><br /><br /><br /><br /><!-- real mature -->
      <hr />
      <h4>Built by <a href="https://twitter.com/adelevie">Alan deLevie</a> and <a href="https://github.com/adelevie/ezfs">available on GitHub</a>.</h4>
		</div>
      

	<link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism.css">
	<link rel="stylesheet" type="text/css" href="/bower_components/gridforms/gridforms/gridforms.css">

	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/snapjs/snap.js"></script>
	<script src="/bower_components/responsive-elements/responsive-elements.js"></script>
	<script src="/bower_components/gridforms/gridforms/gridforms.js"></script>

	<script src="/js/base.js"></script>
	<script src="/js/utils.js"></script>
</body>
</html>