

<h3>How to use:</h3>

<p>Each FCC docket has its own search page.</p> 

<p>For example, docket 12-80 has its own page <a href="/12-80">here</a>.</p>

<p>Once there, search by the name of the filer and the type of filing.</p> 

<p>If there's only one result returned, you'll be redirected right to the filing on ECFS. Examples:</p>

<ul>
  <li><a href="/02-278/search?q=ex+parte">Ex Parte</a></li>
  <li><a href="/14-261/search?q=Notice+of+Proposed+Rulemaking">Notice of Proposed Rulemaking</a></li>
  <li><a href="/14-90/search?q=reply+comments">Reply Comments</a></li>
  <li><a href="/12-375/search?q=Comments+of+Public+Knowledge">Comments of Public Knowledge</a></li>
  <li><a href="/12-83/search?q=Comcast+Ex+Parte">Comcast Ex Parte</a></li>
  <li><a href="/12-83/search?q=Aereo+Letter">Aereo Letter</a></li>
</ul>


<h3>Available dockets:</h3>

<ul>
  <% dockets.each do |docket| %>
    <li><a href="/<%= docket %>"><%= docket %></a></li>
  <% end %>
  <li><a href="/all">List of all available dockets</a></li>
</ul>

