development:
  adapter: postgresql
  database: ezfs_dev
  username: adelevie
  password: foo
  host: localhost

production:
  adapter: postgresql
  database: 
  username:
  password:
  host:
  port:
  sslmode: require
